body {
    background-color: #ececec;
    margin: 0;
    font-size: 18px;
    font-family: sans-serif;
}

form {
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.login_container {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #adadad;
}

.login_logo {
    width: 250px;
    margin: 0px auto;
    padding: 20px 0px;
    height: 83px;
    padding-top: 18px;
}

.login_logo img {
    width: 100%;
}

@media (max-width: 402px) {
.login_container {
    max-width: 100%;
    border: none;
    margin-top: 0px;
    border-radius: 0;
}
}

input[type=submit] {
    padding: 8px;
    color: white;
    background: #009ddc;
    background: linear-gradient(#009ddc, #0095d1);
    border: none;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    white-space: normal;
}

input[type=submit]:hover, input[type=submit]:focus {
    background: #008dc6;
    background: linear-gradient(#008dc6, #0085bb);
}

input[type=submit]:active {
    background: #0079aa;
    background: linear-gradient(#0079aa, #0080b3);
}

.login_language_buttons {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 20px;
}

.login_language_buttons input {
    margin-bottom: 16px;
}

header {
    height: 60px;
    background: white;
    border-bottom: 1px solid #b5b5b5;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}

header div:first-child {
    height: 100%;
    width: 220px;
    float: left;
}

header div:nth-child(2) {
    float: left;
    height: 30px;
    padding: 15px;
    display: none;
}

header div:nth-child(2) svg {
    width: 30px;
    height: 30px;
}

header div:first-child img {
    width: 150px;
    padding: 5px 35px;
}

header div:last-child {
    height: 100%;
    width: calc(100% - 228px);
    float: left;
    font-size: 20px;
    line-height: 60px;
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

nav {
    width: 220px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background: white;
    margin-top: 61px;
    border-right: 1px #d8d8d8 solid;
    overflow-y: auto;
    z-index: 15;
}

#nav_background {
    z-index: 13;
    background: black;
    opacity: 0.6;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
}

nav > a {
    height: 40px;
    display: block;
    color: black;
    padding: 1px 0px;
}

nav > a:hover, nav > a:focus, nav > a:active, nav > a.active {
    color: #364659;
    cursor: pointer;
}

nav > a:active, nav > a.active {
    background: #e0ebf7;
}

nav > a:hover svg path, nav > a:focus svg path, nav > a:active svg path, nav > a.active svg path {
    fill: #364659;
}

nav > a:nth-child(2) {
    margin-top: 5px;
}

nav > a div:first-child {
    float: left;
    height: 40px;
    width: 41px;
}

nav > a div:first-child svg {
    width: 26px;
    height: 26px;
    padding: 7px 7px;
    padding-left: 11px;
    padding-right: 4px;
}

nav > a div:first-child svg path {
    fill: #131313;
}

nav > a div:last-child {
    float: left;
    width: 174px;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
}

nav > a div:last-child > svg {
    float: right;
    padding: 8px;
    width: 24px;
    height: 24px;
    padding-right: 10px;
}

nav > img {
    width: 150px;
    padding: 12px 35px;
    display: none;
}

main {
    position: relative;
    top: 61px;
    margin-left: 221px;
}

main > div {
    padding: 15px;
    background: white;
    border-radius: 4px;
    border: 1px #d8d8d8 solid;
    width: calc(100% - 52px);
    margin: 10px auto;
    max-width: 800px;
}

@media (max-width: 900px) {
header div:first-child {
    display: none;
}
header div:nth-child(2) {
    display: block;
    padding: 12px 15px;
}
header div:last-child {
    width: calc(100% - 62px);
    padding-left: 2px;
    line-height: 54px;
}
header {
    height: 54px;
}
nav {
    margin-top: 0px;
    display: none;
}
nav > img {
    display: block;
}
nav > a {
    padding: 2px 0px;
}
main {
    top: 55px;
    margin-left: 0px;
}
main > div {
    margin: 5px;
    padding: 8px;
    width: calc(100% - 28px);
}
main > div.language_picker {
    margin: 8px 10px;
}
}

@media (min-width: 901px) {
nav {
    display: block !important;
}
#nav_background {
    display: none !important;
}
}

.login_error {
    text-align: center;
    padding: 0px 14px;
    padding-top: 12px;
    padding-bottom: 4px;
    color: red;
    display: none;
}

.login_header {
    text-align: center;
    padding-bottom: 12px;
    font-weight: bold;
    width: 300px;
    margin: 0 auto;
    line-height: 26px;
}

.login_header span {
    margin-right: 36px;
    width: 220px;
    display: inline-block;
}

.login_header a {
    display: inline-block;
    margin-right: 10px;
}

.login_header svg {
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    color: #444444;
}

.update_banner {
    padding: 7px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #c5e1a5;
    color: #003d00;
    border-radius: 10px;
    border: 1px solid #7cb342;
}

.question_question {
    font-size: 22px;
}

.question_question_subtitle {
    padding-top: 4px;
    font-size: 19px;
    color: #484848;
}

.question_options {
    margin: 15px 0px;
    font-size: 20px;
}

.question_options > div {
    margin: 9px 0px;
    overflow: hidden;
}

.question_options > div.correct {
    background: #dcedc8;
    padding: 5px 0px;
    border-radius: 12px;
    border: 1px solid #9ccc65;
}

.question_options > div.incorrect {
    background: #ffcdd2;
    padding: 5px 0px;
    border-radius: 12px;
    border: 1px solid #e57373;
}

.question_options > div > div:nth-child(1) {
    float: left;
}

.question_options > div > div:nth-child(2) {
    width: calc(100% - 36px);
    float: left;
    min-height: 26px;
    padding-top: 3px;
    padding-left: 6px;
}

.question_options > div > div:nth-child(2) > label {
    display: block;
    width: calc(100% - 10px);
}

.question_options:not(.reasoning) > div > div:nth-child(2) > label {
    cursor: pointer;
}

.question_options > div > div:nth-child(2) > div:nth-child(2) {
    font-size: 18px;
    color: #5d5d5d;
    padding-top: 7px;
    padding-bottom: 4px;
    width: calc(100% - 10px);
}

.question_options > div input[type=radio], .question_options > div input[type=checkbox] {
    height: 18px;
    width: 18px;
    margin: 6px;
}

.question_options:not(.reasoning) > div input[type=radio], .question_options:not(.reasoning) > div input[type=checkbox] {
    cursor: pointer;
}

.question_subtitle {
    color: #545454;
    padding-bottom: 6px;
    font-size: 17px;
}

.question_error {
    color: red;
}

.quiz_results_title {
    font-size: 20px;
    padding-bottom: 18px;
}

.quiz_results_results {
    font-size: 32px;
    padding-bottom: 10px;
}

.quiz_results_subtitle {
    font-size: 20px;
    padding-bottom: 18px;
}

.quiz_timer {
    float: right;
}

.quiz_timer svg {
    width: 22px;
    height: 22px;
    float: left;
    margin-top: -1px;
    padding-right: 5px;
}

.quiz_timer div {
    float: left;
}

.progress_bar {
    text-align: center;
    font-size: 19px;
    padding: 5px;
    border-radius: 50px;
}

.language_picker {
    padding: 0px;
    width: calc(100% - 20px);
    background: unset;
    border: none;
    border-radius: unset;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.language_picker select {
    float: right;
    font-size: 18px;
    background: unset;
    border: none;
    margin: 0px;
    display: none;
}

.language_picker > a {
    float: right;
    font-size: 18px;
    padding-left: 2px;
    padding-right: 5px;
    color: black;
    text-decoration: none;
}

.language_picker svg {
    float: right;
    height: 22px;
    width: 22px;
    padding-right: 3px;
    color: #464646;
}